<div class="w-full h-screen px-12 py-8 flex flex-col bg-white dark:bg-neutral-700 dark:text-white">
  <div  class="w-full h-full flex flex-row">
    <div class="w-3/4 h-full flex flex-col gap-8 p-6">
      <div clss="">
        <h1 class="text-4xl font-bold">Job Search Assistant</h1>
      </div>
      <!-- Resume Upload -->
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl font-semibold">Resume</h2>
        <input type="file" id="resume" (change)="onFileSelected($event)" accept=".pdf,.txt,.docx">
      </div>
      
      <!-- Job Description Input -->
      <div class="h-full flex flex-col gap-2">
        <h2 class="text-2xl font-semibold">Job Description</h2>
        <textarea [(ngModel)]="jobDescription"
        placeholder="Paste Job Description"
        class="
        w-full h-full p-4 rounded-3xl bg-neutral-100 text-black resize-none transition
        focus:outline-none focus:bg-white shadow-lg ring-1 ring-neutral-200
        [&::-webkit-scrollbar]:w-2
        [&::-webkit-scrollbar-track]:my-4
        [&::-webkit-scrollbar-track]:bg-transparent
        [&::-webkit-scrollbar-thumb]:bg-gray-500
        [&::-webkit-scrollbar-thumb]:rounded-full
        "></textarea>
      </div>

      <!-- Generate Results Button -->
      <div class="flex flex-col gap-2">
        <button (click)="generateDocuments()" 
          class=" w-fit px-4 py-2 font-bold text-xl rounded-lg text-neutral-800 bg-white hover:bg-neutral-400 transition"
          [disabled]="isLoading">
          <span *ngIf="isLoading">Loading...</span>
          <span *ngIf="!isLoading">Generate</span>
        </button>
      </div>

      <!-- Custom Prompt Input -->
      <div class="h-full flex flex-col gap-2">
        <h2 class="text-2xl font-semibold">Custom Prompt</h2>
        <textarea [(ngModel)]="coverTemplate"
          placeholder="Customize your cover letter template here"
          class="
            w-full h-full p-4 rounded-3xl bg-neutral-100 text-black resize-none transition
            focus:outline-none focus:bg-white shadow-lg ring-1 ring-neutral-200
            [&::-webkit-scrollbar]:w-2
            [&::-webkit-scrollbar-track]:my-4
            [&::-webkit-scrollbar-track]:bg-transparent
            [&::-webkit-scrollbar-thumb]:bg-gray-500
            [&::-webkit-scrollbar-thumb]:rounded-full
          "></textarea>
      </div>
      
    </div>
    <!-- *ngIf="generatedCoverLetter" -->
    <!-- Display the Result -->
    <div class="w-full h-full flex flex-col gap-2 p-6">
      <h2 class="text-3xl font-semibold">Generated Cover Letter</h2>
      <textarea
      [value]="generatedCoverLetter && generatedCoverLetter.trim() ? generatedCoverLetter : ''"
      placeholder="Cover Letter Will Generate Here"
      class="
      w-full h-full p-4 rounded-3xl bg-neutral-100 text-black resize-none transition
      focus:outline-none focus:bg-white shadow-lg ring-1 ring-neutral-200
      [&::-webkit-scrollbar]:w-2
      [&::-webkit-scrollbar-track]:my-4
      [&::-webkit-scrollbar-track]:bg-transparent
      [&::-webkit-scrollbar-thumb]:bg-gray-500
      [&::-webkit-scrollbar-thumb]:rounded-full
      ">
      </textarea>
    </div>
</div>